<!-- { include "art_collections/art_collections/print_format/art_pick/art_pick.html" } -->



<div id="header-html">
</div>
<div id="footer-html">
</div>

{% set ctx = get_print_context_for_art_collectons_pick_list(doc.doctype, doc.name) %}

<style>
    .bordered>.row {
        border: 1px solid #eee !important;
        padding-top: 3px;
    }

    .bordered>.row>.col {
        border-right: 1px solid #eee !important;
    }

    table {
        font-size: 10px !important;
    }

    th {
        font-size: 7px !important;
    }

    table td {
        /* padding: 5px 30 !important; */
        line-height: 6px !important;
    }
</style>

<div class="row" style="padding-top:0.5rem;">
    <div class="col-xs-2 logodiv">
        <img src="/files/logo01.png" class="logofirst" />
    </div>
    <div class="col-xs-6 logodiv">
        <img src="/files/logo02.png" class="logosec" />
    </div>
    <div class="col-xs-4" style="text-align:right">
        <p>{{ _("PICK LIST") }}</p>
        <p>{{ doc.name }} </p>
    </div>
</div>

<div class="master">
    <table class="table table-condensed table-hover table-bordered">
        <colgroup>
            <col style="width:20%">
            <col style="width:30%">
            <col style="width:20%">
            <col style="width:30%">
        </colgroup>
        <tr>
            <td>Purpose</td>
            <td>Delivery</td>
            <td>Double Check</td>
            <td>{{ctx.doc.double_check_order_flag_art or ""}}</td>
        </tr>
        <tr>
            <td> Customer Name </td>
            <td> {{ doc.customer_name_art or ""}} </td>
            <td> Address Title </td>
            <td> {{ ctx.get("doc",{})["shipping_address_name"] or "" }} </td>
        </tr>
        <tr>
            <td> Address Line 1</td>
            <td> {{ ctx.get("doc",{})["address_line1"] or "" }}</td>
            <td> Address Line 2</td>
            <td> {{ ctx.get("doc",{})["address_line2"] or "" }}</td>
        </tr>
        <tr>
            <td> Zip Code</td>
            <td> {{ ctx.get("doc",{})["pincode"] or "" }}</td>
            <td> City Town</td>
            <td> {{ ctx.get("doc",{})["city"] or "" }}</td>
        </tr>
        <tr>
            <td>Delivery Prior Appointment</td>
            <td>{% if doc.delivery_by_appointment_art %} Yes {% else %} No {% endif %}</td>
            <td>Country</td>
            <td>{{ ctx.get("doc",{})["country"] or "" }}</td>
        </tr>
        {% if doc.delivery_appointment_contact_detail_art %}
        <tr>
            <td colspan="4">
                <p>{{ _("Delivery Prior Appointment Detail") }}<br>{{ doc.delivery_appointment_contact_detail_art or ""
                    }}
                </p>
            </td>
        </tr>
        {% endif %}
        {% if doc.directive_print_art %}
        <tr>
            <td colspan="4">
                <p>{{ _("Print Directive") }}<br>{{ doc.directive_print_art or "" }}</p>
            </td>
        </tr>
        {% endif %}

    </table>
</div>

<div class="row" style="margin-top:-30px">
    <div class="col-xs-12">
        <table class="table table-condensed table-hover table-bordered">
            <colgroup>
                <col style="width:3%">
                <col style="width:42%">
                <col style="width:6%">
                <col style="width:4%">
                <col style="width:4%">
                <col style="width:4%">
                <col style="width:6%">
                <col style="width:5%">
                <col style="width:5%">
                <col style="width:4%">
                <col style="width:17%">

            </colgroup>
            <thead>
                <tr>
                    <th>{{ _("No") }} </th>
                    <th>{{ _("Item Name") }} </th>
                    <th>{{ _("WH") }} </th>
                    <th>{{ _("Qty") }} </th>
                    <th>{{ _("UOM") }} </th>
                    <th>{{ _("CF") }} </th>
                    <th>{{ _("Stock UOM") }} </th>
                    <th>{{ _("Order") }} </th>
                    <th>{{ _("Delivery") }} </th>
                    <th>{{ _("Facing") }} </th>
                    <th>{{ _("PO") }} </th>
                </tr>
            </thead>
            <tbody>
                {% for d in ctx.get("items",[]) %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{d.item_code}}:{{ d.item_name}}</td>
                    <td>{{ d.warehouse or "" }}</td>
                    <td class="text-right">{{ frappe.utils.cint(d.qty) }}</td>
                    <td>{{ d.uom }}</td>
                    <td class="text-right">{{ frappe.utils.cint(d.conversion_factor) }}</td>
                    <td>{{ d.stock_uom }}</td>
                    <td>{{ d.sales_order or "" }}</td>
                    <td>{{ d.delivery_date or "" }}</td>
                    <td>{{ d.facing_required_art or "No" }}</td>
                    <td>{{ d.po_no or "&nbsp;" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>