<style>
    .row>.col-xs-6:first-child {
        padding-right: 5px;
    }

    .row>.col-xs-6:last-child {
        padding-left: 5px;
    }

    .addressbox {
        border: 1.5px solid #000;
        padding: 10px;
    }

    .addressbox p {
        margin-bottom: 0;
    }

    .addressbox hr {
        margin: 2px -10px;
        padding: 0;
        border-color: #000;
    }

    .table th {
        border: 1px solid #000;
    }
</style>

{% set ctx = get_print_context_for_art_collectons_sales_order(doc.name)%}

<div class="row">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-7">

    </div>
    <div class="col-xs-3" style="text-align:right">
        <p>Sales order : {{ doc.name }} </p>
        <p>Date : {{ doc.transaction_date }} </p>
        <p>Your order no: {{ doc.po_no or "" }} </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="addressbox">
            {{ doc.address_display }}

            <p>Email: {{ doc.contact_email or "" }}</p>
            <p>VAT: {{ doc.taxes_and_charges or "" }}</p>
            <p>
                Sales Contact: {{ doc.contact_person }} &nbsp; Operator: {{ doc.owner }}
            </p>

        </div>
    </div>
    <div class="col-xs-6">
        <div class="addressbox">
            {{ doc.shipping_address or "Shipping Address" }}
            <p>To deliver on:
                <br>Payment method and Due date: {{ doc.delivery_date or "" }}
                <br>Ordered from: {{ doc.po_no or "" }}
            </p>
            <hr>
            <p>Comments: {{ ctx.overall_directive_art or "" }}</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-10">
        <table class="table" style="border:1px solid #000;">
            <!-- <colgroup>
                <col style="width: 4%">
                <col style="width: 4%">
                <col style="width: 4%">
                <col style="width: 4%">
                <col style="width: 4%">
                <col style="width: 4%">
                <col style="width: 4%">
                <col style="width: 4%">
                <col style="width: 4%">
                <col style="width: 4%">
                <col style="width: 4%">
                <col style="width: 4%">
                <col style="width: 4%">
                <col style="width: 4%">
            </colgroup> -->
            <thead>
                <tr>
                    <th>Zone</th>
                    <th>Ref</th>
                    <th>Your Ref. </th>
                    <th>Description</th>
                    <th>Barcode</th>
                    <th>HScode</th>
                    <th>Weight</th>
                    <th>Inner Qty</th>
                    <th>Qty</th>
                    <th>Gross Price</th>
                    {% if ctx.has_discount %}
                    <th>Discount</th>
                    {% endif %}
                    <th>Net Price</th>
                    <th>Total Line</th>
                    <th>Photo</th>
                </tr>
            </thead>
            <tbody>
                {% for d in ctx.get("items") %}
                <tr>
                    <td>{{ d.warehouse_name or "" }}</td>
                    <td>{{ d.item_name or "" }}</td>
                    <td>{{ d.customer_code or "" }} </td>
                    <td>{{ d.description or "" }}</td>
                    <!-- <td>{{ d.barcode or "" }}</td> -->
                    <td>
                        {% if d.barcode %}
                        <img alt="{{d.barcode}}"
                            src="http://bwipjs-api.metafloor.com/?bcid=code128&text={{d.barcode}}&includetext">
                        {% endif %}
                    </td>
                    <td>{{ d.customs_tariff_number or "" }}</td>
                    <td>{{ d.weight or 0 }}</td>
                    <td class="text-right">{{ d.nb_selling_packs_in_inner_art or "" }}</td>
                    <td class="text-right">{{ d.qty or "" }}</td>
                    <td class="text-right">{{ d.price_list_rate or "" }}</td>
                    {% if ctx.has_discount %}
                    <td class="text-right">{{ d.discount_amount or ""}}</td>
                    {% endif %}
                    <td class="text-right">{{ d.net_rate or "" }}</td>
                    <td class="text-right">{{ d.net_amount or "" }}</td>
                    <td>
                        {% if d.image %}
                        <img src="{{ d.image or '' }}" alt="item image">
                        {% else %}
                        &nbsp;
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-xs-9">
        <div>
            {{doc.terms}}
        </div>
    </div>
    <div class="col-xs-3"></div>
</div>

<!-- <footer id="footer-html" class="visible-pdf">
    <div class="row">
        <div class="col-xs-3">
            <p>SARLARTYFÊTESFACTORY <br> ZAdelaMesnilière <br> 11,ruedesquatrevents <br>14790Verson-FRANCE</p>
        </div>
        <div class="col-xs-3" style="text-align:center">
            <p>commande@artyfetes.com <br> <i class="fa fa-phone fa-lg"></i>0231752121</p>
        </div>
        <div class="col-xs-3" style="text-align:center">
            <p> Capitalsocial2000000€ <br> RCSCaen379620115 <br> APE:4649Z <br> INTRA:FR41-379620115</p>
        </div>
        <div class="col-xs-3" style="text-align:center">
            <p> Banque: BREDCaenCourtonne <br> Nodecompte: 00530696023 <br> IBAN: FR7610107003160053069602362 <br>
                BIC:BREDFRPPXXX</p>
        </div>
    </div>
</footer> -->