{% macro render_items(items) %}

<div class="row">
    <div class="col-xs-12">
        <table class="table" style="border:1px solid #000;">
            <!-- <colgroup>
                <col style="width: 4%">
            </colgroup> -->
            <thead>
                <tr>
                    <th>{{ _("Item code") }} </th>
                    <th>{{ _("Supplier items") }} </th>
                    <th>{{ _("Barcode") }} </th>
                    <th>{{ _("HSCode") }} </th>
                    <th>{{ _("Quantity") }} </th>
                    <th>{{ _("Stock UOM") }} </th>
                    <th>{{ _("Rate (EUR)") }} </th>
                    <th>{{ _("Amount (EUR)") }} </th>
                    <th>{{ _("Photo") }} </th>
                </tr>
            </thead>
            <tbody>
                {% for d in items %}
                <tr>
                    <td>{{ d.item_code or "" }}</td>
                    <td>{{ d.supplier_part_no or "" }}</td>
                    <td>
                        {% if d.barcode %}
                        <img alt="{{d.barcode}}"
                            src="http://bwipjs-api.metafloor.com/?bcid=code128&text={{d.barcode}}&includetext">
                        {% endif %}
                    </td>
                    <td>{{ d.customs_tariff_number or "" }}</td>
                    <td>{{ d.qty or "" }}</td>
                    <td>{{ d.stock_uom or "" }}</td>
                    <td>{{ d.base_net_rate or "" }}</td>
                    <td>{{ d.base_net_amount or "" }}</td>
                    <td>
                        <img src="{{ d.image}}" height="60px" width="60px" alt="item image">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endmacro %}

<style>

</style>

{% set ctx = get_print_context_for_art_collectons_purchase_order(doc.name)%}

<div class="row" style="padding-top:0.5rem;">
    <div class="col-xs-2 logodiv">
        <img src="/files/logo01.png" class="logofirst" />
    </div>
    <div class="col-xs-6 logodiv">
        <img src="/files/logo02.png" class="logosec" />
    </div>
    <div class="col-xs-4" style="text-align:right">
        <p>{{_('Purchase order :')}}{{ doc.name }} </p>
        <p>{{_('Date :')}}{{ doc.transaction_date }} </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="addressbox">
            <p class="lilly title"> {{_('Bill to ')}}</p>
            <p>{{doc.supplier_name}}</p>
            <p>{{ doc.address_display }}
            </p>
            <p>{{_('Email:')}}{{ doc.contact_email or "" }}</p>
            <p>{{_('VAT:')}}{{ "" }}</p>

            <p>{{_('Contact:')}} <span class="lilly">{{ doc.contact_person }}</span> <span class="width-50"></span>
                {{_('Operator:')}} <span class="lilly">{{ doc.owner }}</span> </p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="addressbox">
            <p class="lilly title"> {{_('Ship to')}}</p>
            <p>
                {{ doc.shipping_address_display or "" }}</p>
            <br>{{_('To deliver on:')}}{{ doc.schedule_date or "" }}
        </div>
    </div>
</div>

{% set items_in_stock = ctx.get("items") | list %}


<!-- In Stock -->
{% if items_in_stock | len %}
{{ render_items(items_in_stock) }}
{% endif %}


<div class="row">
    <div class="col-xs-8">
        <div>
            {{doc.terms}}
        </div>
    </div>
    <div class="col-xs-4">
        <table class="table-total">
            <tr>
                <th>{{ _('Total') }}</th>
                <td>{{doc.net_total}}</td>
            </tr>
            <tr>
                <th>{{ _('Deduction') }}</th>
                <td>{{doc.discount_amount}}</td>
            </tr>
            <tr>
                <th>{{ _('Shipping Cost')}}</th>
                <td>{{ctx.shipping_cost}}</td>
            </tr>
            <tr>
            <tr>
                <th>{{doc.taxes_and_charges }}</th>
                <td>{{ctx.taxes_cost}}</td>
            </tr>
            <tr>
                <th>{{ _('Grand Total') }}</th>
                <td>{{doc.grand_total}}</td>
            </tr>
        </table>
    </div>
</div>


<footer class="footer-html" id="footer-html" class="visible-pdf">
    <div class="footertag">
        <p class="lilly" style="margin-bottom:-10px">La Team Arty vous remercie pour votre commande !</p>
        <p>(On espère qu’elle vous plaira)</p>
    </div>

    <div class="row">
        <div class="col-xs-4 colf">
            <img src="/files/logo01.png" style="width:90px" class="float-left" />
            <p>SARL ARTYFÊTES FACTORY <br> ZA de la Mesnilière <br> 11, rue des quatre vents <br> 14790 Verson - FRANCE
            </p>
        </div>
        <div class="col-xs-2 colf" style="text-align:center">
            <p class="footericon"><img src="/files/foot-icon.png"></i></p>
            <p><img src="/files/foot-mail.png" class="max25"></i>commande@artyfetes.com <br> <img
                    src="/files/foot-phone.png" class="max25"></i>0231752121</p>
        </div>
        <div class="col-xs-3 colf" style="text-align:center">
            <p class="footericon"><img src="/files/foot-bar.png"></i></p>
            <p> Capitalsocial2000000€ <br> RCSCaen379620115 <br> APE:4649Z <br> INTRA:FR41-379620115</p>
        </div>
        <div class="col-xs-3 colf" style="text-align:center">
            <p class="footericon"><img src="/files/foot-cart.png"></i></p>
            <p> Banque: BREDCaenCourtonne <br> Nodecompte: 00530696023 <br> IBAN: FR7610107003160053069602362 <br>
                BIC:BREDFRPPXXX</p>
        </div>
    </div>
</footer>