<div class="pos-selected-item-action" data-item-code="{%= item_code %}" data-idx="{%= idx %}">
	<div class="pos-list-row">
		<div class="cell">{{ __("Quantity") }}:</div>
		{% if nb_selling_packs_in_inner_art==0 %}
  	<input type="tel" class="form-control cell pos-item-qty" value="{%= qty %}"/>
		{% else %}
		<small>{{ __("Inner Packs: x") }}
			<div  data-pos-item-nb-selling-packs-qty="{%= nb_selling_packs_in_inner_art %}">{%= nb_selling_packs_in_inner_art %}</div>
		</small>
		<input type="number" class="form-control cell pos-item-qty" placeholder="x{%=nb_selling_packs_in_inner_art %}"  step="{%= nb_selling_packs_in_inner_art %}" min="0"  max="{%= nb_selling_packs_in_inner_art*100 %}" value="{%= qty %}"/>
		{% endif %}		

	</div>
	<div class="pos-list-row">
		<div class="cell">{{ __("Price List Rate") }}:</div>
		<input type="tel" class="form-control cell" disabled value="{%= price_list_rate %}"/>
	</div>
	<div class="pos-list-row">
		<div class="cell">{{ __("Discount") }}: %</div>
		<input type="tel" class="form-control cell pos-item-disc" {% if !allow_user_to_edit_discount %} disabled {% endif %} value="{%= discount_percentage %}">
	</div>
	<div class="pos-list-row">
		<div class="cell">{{ __("Price") }}:</div>
		<input type="tel" class="form-control cell pos-item-price" {% if !allow_user_to_edit_rate %} disabled {% endif %} value="{%= rate %}"/>
	</div> 
	<div class="pos-list-row">
		<div class="cell">{{ __("Amount") }}:</div>
		<input type="tel" class="form-control cell pos-amount" disabled value="{%= amount %}"/>
	</div>
</div>