{% if shopping_cart and shopping_cart.cart_settings.enabled %}
{% set cart_settings = shopping_cart.cart_settings %}
{% set product_info = shopping_cart.product_info %}

<div class="mt-3">
<button class="btn btn-outline-primary btn-add-to-cart" onclick="window.history.back();">Go Back</button>

{% if cart_settings.show_wishlist_art | int %}
	<button class="btn btn-inquiry btn-add-to-cart-wishlist  "
		data-item-code="{{ doc.name }}"
		data-item-name="{{ doc.item_name }} {% if product_info.qty %}hidden{% endif %}" >
		<i class="fa fa-heart-o {% if product_info.qty %}hidden{% endif %}"></i>
	</button>
	<button class="btn btn-inquiry btn-view-in-cart-wishlist "
		data-item-code="{{ doc.name }}"
		data-item-name="{{ doc.item_name }} {% if not product_info.qty %}hidden{% endif %}">
		<i class="fa fa-heart {% if not product_info.qty %}hidden{% endif %}"></i>
	</button>	
	{% endif %}
	
	{% if cart_settings.show_preorder_art | int %}
	<button class="btn btn-link btn-inquiry" data-item-code="{{ doc.name }}">
		{{ _('Pr Order') }}
	</button>
	{% endif %}
</div>
<script>
{% include "templates/generators/item/item_add_to_wishlist_preorder.js" %}
</script>
{% endif %}

