{% macro render_items(items, message) %}
<div class="row">
    <div class="col-xs-12">
        <table class="table" style="border:1px solid #000;">
            <!-- <colgroup>
                <col style="width: 4%">
            </colgroup> -->
            <thead>
                <tr>

                    <th>{{ _("Item code") }} </th>
                    <th>{{ _("Item Name") }} </th>
                    <th>{{ _("Barcode") }} </th>
                    <th>{{ _("Quantity") }} </th>
                    <th>{{ _("UOM") }} </th>
                    <th>{{ _("Rate (EUR)") }} </th>
                    <th>{{ _("Stock UOM") }} </th>
                    <th>{{ _("UOM Conversion Factor") }} </th>
                    <th>{{ _("Qty as per stock UOM") }} </th>
                    <th>{{ _("Rate of Stock UOM (EUR)") }} </th>
                    <th>{{ _("Amount (EUR)") }} </th>
                    <th>{{ _("Photo") }} </th>

                </tr>
                {% if message %}
                <tr>
                    <td colspan="10">
                        <span class="lilly">
                            {{message}}
                        </span>
                    </td>
                </tr>
                {% endif %}
            </thead>
            <tbody>
                {% for d in items %}
                <tr>
                    <td>{{ d.item_code or "" }}</td>
                    <td>{{ d.item_name or "" }}</td>
                    <td>
                        {% if d.barcode %}
                        <img alt="{{d.barcode}}" height="30px" width="80px"
                            src="http://bwipjs-api.metafloor.com/?bcid=code128&text={{d.barcode}}&includetext">
                        {% endif %}
                    </td>
                    <td class="text-right">{{ d.qty }}</td>
                    <td>{{ d.uom }}</td>
                    <td class="text-right">{{ d.base_net_rate }}</td>
                    <td class="text-right">{{ d.stock_uom }}</td>
                    <td class="text-right">{{ d.conversion_factor }}</td>
                    <td class="text-right">{{ d.stock_qty }}</td>
                    <td class="text-right">{{ d.stock_uom_rate }}</td>
                    <td class="text-right">{{ d.base_net_amount }}</td>

                    <td>
                        <img src="{{ d.image}}" height="45px" width="45px" alt="item image">
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endmacro %}

<style>

</style>

{% set ctx = get_print_context_for_art_collectons_sales_order(doc.name)%}

<div class="row" style="padding-top:0.5rem;">
    <div class="col-xs-2 logodiv">
        <img src="/files/logo01.png" class="logofirst" />
    </div>
    <div class="col-xs-6 logodiv">
        <img src="/files/logo02.png" class="logosec" />
    </div>
    <div class="col-xs-4" style="text-align:right">
        <p>{{ _('Sales order :') }}{{ doc.name }} </p>
        <p>{{ _('Date :') }}{{ doc.transaction_date }} </p>
        <p>{{ _('Your order no:') }}{{ doc.po_no or "" }} </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="addressbox">
            <p class="lilly title">{{ _('Bill to')}}</p>
            <p>{{ doc.address_display }}
            </p>
            <p>{{ _('Email:') }}{{ doc.contact_email or "" }}</p>
            <p>{{ _('VAT:') }}{{ "" }}</p>

            <p>{{ _('Sales contact:') }} <span class="lilly">{{ doc.contact_person }}</span> <span
                    class="width-50"></span>
                {{ _('Operator:') }} <span class="lilly">{{ doc.owner }}</span> </p>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="addressbox">
            <p class="lilly title">{{ _('Ship to') }}</p>
            <p>
                {{ doc.shipping_address or "Shipping Address" }}</p>
            <p>{{ _('To deliver on:')}} {{ frappe.utils.formatdate(doc.delivery_date, 'dd mm yyyy') }}
                <br>{{ _('Payment method and Due date:')}}
            </p>
            <hr>
            <p>{{ _('Comments:') }}{{ doc.directive_print_art or "" }}</p>
        </div>
    </div>
</div>

{% set items_in_stock = ctx.get("items") | selectattr("in_stock",'eq',1) | list %}
{% set items_out_of_stock = ctx.get("items") | selectattr("in_stock","eq",0) | list %}

<!-- In Stock -->
{% if items_in_stock | len %}
{{ render_items(items_in_stock, _('In Stock')) }}
{% endif %}
<!-- Temporarily Out of Stock -->
{% if items_out_of_stock | len %}
{{ render_items(items_out_of_stock, _('Temporarily Out of Stock')) }}
{% endif %}

<!-- Sales Order Discountinued Items -->
{% set discontinued_sales_item_ct = doc.get("discontinued_sales_item_ct") | list %}
{% if discontinued_sales_item_ct | len %}
<div class="row">
    <div class="col-xs-12">
        <table class="table" style="border:1px solid #000;">
            <thead>
                <tr>
                    <th>{{ _('Item Code') }}</th>
                    <th>{{ _('Item Name') }}</th>
                    <th>{{ _('Description') }}</th>
                    <th>{{ _('Qty') }}</th>
                </tr>
                <tr>
                    <td colspan="12">
                        <span class="lilly">
                            {{ _('Out of Stock and Discontinued') }}
                        </span>
                    </td>
                </tr>
            </thead>
            <tbody>
                {% for d in discontinued_sales_item_ct %}
                <tr>
                    <td>{{ d.item_code or "" }}</td>
                    <td>{{ d.item_name or "" }}</td>
                    <td>{{ d.description or "" }}</td>
                    <td class="text-right">{{ d.qty or "" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-xs-8">
        <div>

        </div>
    </div>
    <div class="col-xs-4" style="page-break-after:always;">
        <table class="table-total">
            <tr>
                <th>{{ _('Total') }}</th>
                <td>{{doc.net_total}}</td>
            </tr>
            <tr>
                <th>{{ _('Deduction') }}</th>
                <td>{{doc.discount_amount}}</td>
            </tr>
            <tr>
                <th>{{ _('Shipping Cost')}}</th>
                <td>{{ctx.shipping_cost}}</td>
            </tr>
            <tr>
            <tr>
                <th>{{doc.taxes_and_charges }}</th>
                <td>{{ctx.taxes_cost}}</td>
            </tr>
            <tr>
                <th>{{ _('Grand Total') }}</th>
                <td>{{doc.grand_total}}</td>
            </tr>
        </table>
    </div>
</div>
<div>
    {% if not no_letterhead and footer %}
    <div class="letter-head-footer">
        {{ footer }}
    </div>
    {% endif %}
    <p class="text-right small page-number visible-pdf">
        {{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
    </p>
</div>