{% for d in doc.items %}
<tr data-name="{{ d.name }}">
	<td>
		<div class="font-weight-bold">
			{{ d.item_name }}
		</div>
		<div>
			{{ d.item_code }}
		</div>
		{%- set variant_of = frappe.db.get_value('Item', d.item_code, 'variant_of') %}
		{% if variant_of %}
		<span class="text-muted">
			{{ _('Variant of') }} <a href="{{frappe.db.get_value('Item', variant_of, 'route')}}">{{ variant_of }}</a>
		</span>
		{% endif %}
		<div class="mt-2">
			<textarea data-item-code="{{d.item_code}}" class="form-control" rows="2" placeholder="{{ _('Add notes') }}">{{d.additional_notes or ''}}</textarea>
		</div>
	</td>
	<td class="text-right">
		<div class="input-group number-spinner">
			<span class="input-group-prepend d-none d-sm-inline-block">
				<button class="btn btn-outline-secondary cart-btn" data-dir="dwn" data-additional-notes="{{d.additional_notes or ''}}">–</button>
			</span>
			<input class="form-control text-right cart-qty border-secondary" value="{{ d.get_formatted('qty') }}" data-item-code="{{ d.item_code }}" data-additional-notes="{{d.additional_notes or ''}}">
			<span class="input-group-append d-none d-sm-inline-block">
				<button class="btn btn-outline-secondary cart-btn" data-dir="up" data-additional-notes="{{d.additional_notes or ''}}">+</button>
			</span>
		</div>
	</td>

	{% if cart_settings.enable_checkout %}
	<td class="text-right">
		<div>
			{{ d.get_formatted('amount') }}
		</div>
		<span class="text-muted">
			{{ _('Rate:') }} {{ d.get_formatted('rate') }}
		</span>
	</td>
	{% endif %}
	<td class="text-right">
			{% if cart_settings.show_stock_availability %}
			{%- set is_stock_item = frappe.db.get_value("Item", d.item_code, ["is_stock_item"]) %}
			{% if d.qty_in_stock or is_stock_item == 0 %}
			<span class="text-success">
					{{ _('In stock') }}
					{% if cart_settings.show_quantity_in_website and is_stock_item == 1 %}	{{d.qty_in_stock}}{% endif %}
				</span>
				{% else %}
				<span class="text-danger">
						{{ _('Not in stock') }}
					</span>
			{% endif %}
			{% endif %}				
			{%- set qty = d.get_formatted('qty') %}
				<button	data-item-code="{{d.item_code}}" data-qty="{{qty}}" data-additional-notes="{{d.additional_notes or ''}}" class="btn btn-outline-primary btn-add-to-cart ">
					{{ _("Add to Cart") }}
				</button>
		</td>
</tr>
{% endfor %}
<script>
		frappe.ready(() => {
			// shift wishlist to quotation cart
			$('.page_content').on('click', '.btn-add-to-cart', (e) => {
				const $btn = $(e.currentTarget);
				$btn.prop('disabled', true);
				const item_code = $btn.data('item-code');
				const additional_notes=$btn.data('additional-notes');
				const qty= $btn.data('qty') || 1;
				const wish_list_name="{{selected_wish_list}}"

				erpnext.shopping_cart.update_cart({
					item_code,
					qty: qty,
					additional_notes: additional_notes,
					callback(r) {
						$btn.prop('disabled', false);
						if (r.message) {
							frappe.freeze();	
							if(frappe.session.user==="Guest") {
									if(localStorage) {
										localStorage.setItem("last_visited", window.location.pathname);
									}
									window.location.href = "/login";
							} 
							else 
							{
								// once quotation cart is updated, update wishlist to remove those items
								let additional_notes
								let with_items=1
								let cart_dropdown=true
								return frappe.call({
									type: "POST",
									method: "art_collections.art_cart.update_cart_for_wishlist_preorder",
									args: {
										item_code: item_code,
										qty: 0,
										additional_notes: additional_notes !== undefined ? additional_notes : undefined,
										with_items: with_items || 0,
										wish_list_name:wish_list_name
									},
									btn: this,
									callback: function(r) {
										shopping_cart.set_wishlist_cart_count();
										if (r.message.shopping_cart_menu) {
											$('.shopping-cart-menu').html(r.message.shopping_cart_menu);
										}
										frappe.unfreeze();
									if(!r.exc) {
										$(".wishlist-cart-items").html(r.message.items);
										if (cart_dropdown != true) {
											$(".wishlist-cart-icon").hide();
										}
									}
										$btn.prop('disabled', false);
										$('.btn-add-to-cart, .btn-view-in-cart').toggleClass('hidden');
									}
								});
							}
						}}});
			});
		});
	</script>

