{% extends "templates/web.html" %}

{% block title %} {{ _("Wish List Cart") }} {% endblock %}

{% block header %}<h1>{{ _("Wish List Cart") }}</h1>{% endblock %}

<!--
{% block script %}
<script>{% include "templates/includes/cart.js" %}</script>
{% endblock %}
-->


{% block header_actions %}
{% if doc.items and cart_settings.enable_checkout %}
<button class="btn btn-primary btn-place-order" type="button">
	{{ _("Place Order") }}
</button>
{% endif %}
{% if doc.items and not cart_settings.enable_checkout %}
<button class="btn btn-primary btn-request-for-quotation" type="button">
	{{ _("Request for Quotation") }}
</button>
{% endif %}
{% endblock %}

{% block page_content %}

{% from "templates/includes/macros.html" import item_name_and_description %}

<div class="cart-container">
		{% include "templates/includes/cart/art_cart_items.html" %}
</div>

{% endblock %}

{% block base_scripts %}
<!-- js should be loaded in body! -->
<script type="text/javascript" src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/frappe-web.min.js"></script>
<script type="text/javascript" src="/assets/js/control.min.js"></script>
<script type="text/javascript" src="/assets/js/dialog.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-4-web.min.js"></script>
{% endblock %}
